/* Description:  the integral CSS for the entire website -- note that ALL pages use this single file so it may be a bit unorganized. */

@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Inconsolata&family=Nova+Mono&display=swap');

#textTitle {
  color: #4A3B2C;
  font-family: 'Victor Mono';
  font-size: 32px;
  padding-left: 3%;
  animation-name:  textTitle;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear;
  font-weight: bold;
  font-style: italic;
}

#textSubtitle:after { /* All this to basically animate textSubtitle between two frames of text */
  content: "A Pocket Guide for the Aspiring Cryptographer";
  animation-name: textSubtitle;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  color: #958A7B;
  font-size: clamp(15px, 1.5vw, 16px);
  font-family: 'Nova Mono', monospace;
}

.portraitMode {
	visibility:  hidden;
	display:  none;
}


#citations {
  font-family: 'Nova Mono', monospace;
  font-size: 13px;
}



@keyframes textSubtitle {
  0% {content: "A Pocket Guide for the Aspiring Cryptographer"}
  100% {content: "A Pocket Guide for the Aspiring Cryptographer_"}
}

@keyframes textTitle {
  0% {color: #4A3B2C}
  50% {color: #503F2F}
  100% {color: #4A3B2C}
}




.slidesImg {
  display: none;
}







header {
  background-color: #f0e9c4;
  background-image: url(papyrus.png);
  background-blend-mode: multiply; /* Blends two backgrounds together */
  font-family: 'Nugelo Serif';
  padding: 10px 0 17px 0; /* top right bottom left */

}

footer {
  background-color: #302d28;
  font-family: 'Nova Mono', monospace;
  color: #eadcce;
  padding: 10px 0 10px 30px;
}

footer a {
  color: #c2ecdc;
}

#section1 {
  width: 50%;
    background-color: #EDD5AA;
  background-image:  url("newspaper-nobg.png");
  background-blend-mode: add;
}

.darkBG {
  background-image:  url("walnut-wood.webp");
  height: 100%;
  filter: blur(0.3px);
  box-shadow: 10px 10px 10px #301D14 inset;
}

.darkBG + table {
  position: absolute;
  top: 40%;
  margin: 10px;
  color: #D2BEA6;
}

td.trTitle + td{
/*visibility: hidden;*/
}

td.trTitle + td:after {
/* WIP */
}


#sec1BG {
position:  absolute;
/*filter: blur(6px) saturate(25%);*/
filter: drop-shadow();
z-index: -1;
width: 100%;
}

div#section1 .button { /* TODO: make buttons remniscent to navbar buttons; link to somewhere??? */
font-family: "Nugelo Serif";
clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
height: 50px;
width: 120px;
}

div#section1 .buttonText {
  position:  absolute;
}


#section1, #section2, #section3 {
  font-family: 'Gill Sans', sans-serif;
  margin: 0 10px 0 10px;
  background-blend-mode: multiply;
}

.sectionTitle {
  font-family: 'B612 Mono', serif;
  font-weight: bolder;
  font-size: 25px;
}


body { /* Reset website defaults */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
  width: 100%;
}


@font-face { /* OK for website? listed as personal use */
  font-family: 'Nugelo Serif';
  src: url(nugeloserif.otf);
}

@font-face {
  font-family: 'Monaco';
  src:  url(Monaco.woff);
}

@font-face { /* Is reg just needed, or do you need to import all font variants?? */
  font-family: 'Victor Mono';
  src:  url(VictorMono.woff);
}


nav ul li {
  display: inline-block;

}

nav ul {
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  filter: drop-shadow(3px 0px 3px #635f4d);
}


nav {
  padding: 10px 0 10px 0;
  overflow: hidden;
  background-image: linear-gradient(#dfd5a3d0, #c7bd8ed0), url(fabric.jpg);
  box-shadow: 0 5px 10px 3px rgb(160, 149, 122);
}

nav a {
  float: left;
  font-family: 'Nugelo Serif';
  color: rgb(100, 94, 82);
  padding: 8px;
  margin: 0 10px 0 10px;
  font-size: 20px;
  text-decoration: none;
  background-image: url(papyrus.png);
  background-color: #b6b292;
  background-blend-mode: multiply;
  transition: background-color 0.4s, color 0.4s;
  width: 130px;
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
}

nav a:hover, nav a:active {
  color: rgb(194, 190, 165);
  background-image: url(papyrus.png);
  background-color: #746f5a;
}

.active { /* Reserved for navbar */
  background-image: url(papyrus.png);
  background-color: #524f43;
  color: rgb(194, 190, 165);
  background-blend-mode: multiply;
}

#placeholder-img { 
  width:  35%;
  margin: 5% 0 0 32%;
  filter: drop-shadow(5px 5px 3px #707070);
}

#placeholder-txt {
  text-align:  center;
  font-family:  'B612 Mono', monospace;
  font-size:  clamp(8px, 2vw, 16px);
}


body {
  background-image: linear-gradient(to top, #BFA9926D, #BFA992AD), /*linear-gradient(to top, #BFA9926D, #AF9B859D),*/ url("interlaced.png");
  background-size: stretch;
}

.slidesImg {
  width: clamp(300px, 60%, 600px);
  padding: 5% 15% 0 25%;
  filter:  drop-shadow(5px 5px 3px #707070);
}

.slidesCaption {
  text-align: center;
  font-family: 'Nova Mono', monospace;
  font-size: clamp(9px, 2vw, 13px);
  font-style: italic;
  padding-bottom: 5px;
  color:  #C4C3C4;

  position:  absolute;
  left: 28%;
  top: clamp(300px, 87%, 800px);
  z-index: 3;
}


.prev, .next {
  cursor: pointer;
  font-size:  clamp(20px, 5vw, 40px); /* CLAMP */
  font-family: 'B612 Mono', monospace;
  user-select:  none;
  -webkit-user-select:  none; /* Safari + Chrome */
  color:  #F2E7E0;
  padding:  25px 8px 25px 8px; /* CLAMP */
  background-color:  #0000009A;
  transition:  background-color 0.7s;
  position:  absolute;
  z-index: 2;
  top: 310px; /* CLAMP */
}

.prev {
  left: 25%;
  border-radius: 0 7px 7px 0;
}

.next { 
  right: 25%;
  border-radius:  7px 0 0 7px;
}


.prev:hover, .next:hover {
  background-color:  #000000DA;
}


#captionOverlay {
  background-color: #000000AA;
  padding: 5% 0 0 clamp(300px, 60%, 600px);
  position:  absolute;
  left: 25%;
  top: clamp(100px, 87%, 800px);
  z-index: 2;
  border: 30px 0 30px 0;
}


table {
  font-family: Victor Mono;

}

td.trTitle {
  /*border: solid 5px #FFDD30;*/
  font-weight: bold;
  font-size: 23px;
}

td:not(.trTitle) {
  padding-left: 60px;
}

.summaryText {
  font-family: Victor Mono;
  font-size: 18px;
  margin: 10px;
}



sup a {
  color: #42AE9F;
  font-size: clamp(10px, 3vw, 13px);
}


.todo { /* REMOVE ONCE DONE! */
  color: #FC3321;
  font-weight: bold;
  font-size: 16px;
  background-color: #FEB1AECF;
  background-image: url(papyrus.png);
  background-blend-mode: color-burn;
}

p, h2 {
  font-family: 'Gill Sans', sans-serif;
}

#clsubstitution {

}

div.warning {
background-image: linear-gradient(to top left, #FFD04EB3, #FFF3787B), url(papyrus.png);/* WIP: FIND A DIAGONAL STRIPED BG */;
border: 5px;
padding: 10px;
border-radius: 20px;
border-style: solid;
border-color: #534F29;
margin: 0 80px 0 15px;
}

p.warning {
font-weight: bold;
font-style: italic;
font-size: 20px;
color:  #84771E;
}

div.info {
background-image: linear-gradient(to top left,#298678B3, #2681737B), url(papyrus.png);/* WIP: FIND A DIAGONAL STRIPED BG */;
border: 5px;
padding: 10px;
border-radius: 20px;
border-style: solid;
border-color: #31544C;
margin: 0 80px 0 15px;
}

p.info {
font-weight: bold;
font-style: italic;
font-size: 20px;
color:  #1F6254;
}


.content {
  margin: 0 15px 0 15px;
}
/* ====================================================== */

@media only screen and (orientation: portrait) { /* When browser height > width */
	.portraitMode { /* Note:  may need to split this class for more complex changes (?)*/
		display: inline;
		visibility: visible;
  }

  #textSubtitle {
   padding: 30px 0 0 15px; /* top right bottom left */
 }
}

