/* Description:  the integral CSS for the entire website -- note that ALL pages use this single file so it may be a bit unorganized. */

@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Inconsolata&family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@800&display=swap');

#textTitle {
  color: #4A3B2C;
  font-family: 'Victor Mono';
  font-size: 32px;
  padding-left: 3%;
  animation-name:  textTitle;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear;
  font-weight: bold;
  font-style: italic;
}

#textSubtitle:after { /* All this to basically animate textSubtitle between two frames of text */
  content: "A Pocket Guide for the Aspiring Cryptographer";
  animation-name: textSubtitle;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  color: #958A7B;
  font-size: clamp(15px, 1.5vw, 16px);
  font-family: 'Nova Mono', monospace;
}

.portraitMode {
	visibility:  hidden;
	display:  none;
}


#citations {
  font-family: 'Nova Mono', monospace;
  font-size: 13px;
}



@keyframes textSubtitle {
  0% {content: "A Pocket Guide for the Aspiring Cryptographer"}
  100% {content: "A Pocket Guide for the Aspiring Cryptographer_"}
}

@keyframes textTitle {
  0% {color: #4A3B2C}
  50% {color: #503F2F}
  100% {color: #4A3B2C}
}




.slidesImg {
  display: none;
}







header {
  background-color: #f0e9c4;
  background-image: url(papyrus.png);
  background-blend-mode: multiply; /* Blends two backgrounds together */
  font-family: 'Nugelo Serif';
  padding: 10px 0 17px 0; /* top right bottom left */

}

footer {
  background-color: #302d28;
  font-family: 'Nova Mono', monospace;
  color: #eadcce;
  padding: 10px 0 10px 30px;
}

.footerPositionOverride {
  position: relative;
}

footer a {
  color: #c2ecdc;
}


.darkBG {
  background-image:  url("walnut-wood.webp");
  height: 110%;
  filter: blur(1px);
  box-shadow: 10px 10px 10px #301D14 inset;
}

#graphic1 {
  width: 600px;
  transform: rotateZ(10deg);
  position: absolute;
}

#redirect1 {
  transform: rotateZ(-20deg);
  top: 500px;
  left: 500px;
  width: 300px;
  position: absolute;
}

#graphic2 {
  width: 800px;
  position: absolute;
  left: 400px;
  top: 1000px;
  transform: rotateZ(-10deg);

}

#redirect2 {
  position: absolute;
  transform: rotateZ(20deg);
  top: 1400px;
  left: 320px;
  width: 300px;
}

#redirect3 {
  position: absolute;
  transform: rotateZ(10deg);
  top: 2500px;
  left: 600px;
  width: 300px;
}

.stripe-type-A{
  background-image: linear-gradient(to bottom, #a1c1ae6D, #c3ddd1AD,#a1c1ae6D), url("papyrus.png");
}



#kryptos-text-1 {
  position: absolute;
  font-family: Monaco;
  color: #e2d6b0;
  font-size: 11px;
  top: 1080px;
  left: 680px;
  transform: rotateZ(-10deg);
}

#kryptos-text-1 em {
  font-style: normal;
  color: #8bcfb1;
}

#kryptos-text-1 strong {
  font-weight: normal;
  color: #70c755;
}

#paper1 {
  position: absolute;
  width: 600px;
  top: 1900px;
  transform: rotateZ(-10deg);
}

#paper2 {
  position: absolute;
  width: 600px;
  left: 100px;
    top: 2210px;
    transform: rotateZ(5deg);
}

#paper3 {
  position: absolute;
  width: 600px;
  left: 50px;
    top: 2520px;
    transform: rotateZ(-5deg);
}



table.infoTable {
  position: absolute;
  top: 40%;
  margin: 10px;
  color: #D2BEA6;
  text-shadow:  5px 5px 5px #181614;

}

table.infoTable td {
  border: 20px solid;
  border-color: #FFFFFF00;
}

td.trTitle + td img {
  width: 300px;
}


.sectionTitle {
  font-family: 'B612 Mono', serif;
  font-weight: bolder;
  font-size: 25px;
}


body { /* Reset website defaults */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
    background-image: linear-gradient(to bottom, #BFA9926D, #BFA992AD,#BFA9926D), /*linear-gradient(to top, #BFA9926D, #AF9B859D),*/ url("interlaced.png");
  background-size: stretch;
  overflow-x: hidden;
}

html {
  height: 100%;
  width: 100%;
}

#homepageBG {
background-image: url("walnut-wood.webp");
background-repeat: repeat;
height: 490%;
position: relative;
}

#resourcesBG {
  background-image: url("walnut-wood.webp");
  background-repeat: repeat;
  height: 200%;
  position: relative;
}


@font-face {
  font-family: 'Nugelo Serif';
  src: url(nugeloserif.otf);
}

@font-face {
  font-family: 'Monaco';
  src:  url(Monaco.woff);
}

@font-face { /* Is reg just needed, or do you need to import all font variants?? */
  font-family: 'Victor Mono';
  src:  url(VictorMono.woff);
}

@font-face {
  font-family: 'Albertus MT';
  src: url(AlbertusMT.otf);
}

@font-face {
  font-family: 'Marcellus SC';
  src: url(MarcellusSC.ttf);
}


nav ul li {
  display: inline-block;

}

nav ul {
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  filter: drop-shadow(3px 0px 3px #635f4d);
}


nav {
  padding: 10px 0 10px 0;
  overflow: hidden;
  background-image: linear-gradient(#dfd5a3d0, #c7bd8ed0), url(fabric.jpg);
  box-shadow: 0 5px 10px 3px rgb(160, 149, 122);
}

nav a {
  float: left;
  font-family: 'Nugelo Serif';
  color: rgb(100, 94, 82);
  padding: 8px;
  margin: 0 10px 0 10px;
  font-size: 20px;
  text-decoration: none;
  background-image: url(papyrus.png);
  background-color: #b6b292;
  background-blend-mode: multiply;
  transition: background-color 0.4s, color 0.4s;
  width: 130px;
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
}

nav a:hover, nav a:active {
  color: rgb(194, 190, 165);
  background-image: url(papyrus.png);
  background-color: #746f5a;
}

.active { /* Reserved for navbar */
  background-image: url(papyrus.png);
  background-color: #524f43;
  color: rgb(194, 190, 165);
  background-blend-mode: multiply;
}

#placeholder-img { 
  width:  35%;
  margin: 5% 0 0 32%;
  filter: drop-shadow(5px 5px 3px #707070);
}

#placeholder-txt {
  text-align:  center;
  font-family:  'B612 Mono', monospace;
  font-size:  clamp(8px, 2vw, 16px);
}

#seam1 {
  position: absolute;
  top: 590px;
  z-index: 2;
  filter: brightness(104%) drop-shadow(-60px 45px 1px #b5a7a1);
}

#seam2 {
  position: absolute;
  top: -80px;
  z-index: 2;
  filter: brightness(97%) sepia(10%) drop-shadow(0px 45px 1px #b5a7a1);
}

#notepad {
  width: 1200px;
  top: 100px;
  position: absolute;
}


.slidesImg {
  width: clamp(300px, 60%, 600px);
  padding: 5% 15% 0 25%;
  filter:  drop-shadow(5px 5px 3px #707070);
}

.slidesCaption {
  text-align: center;
  font-family: 'Nova Mono', monospace;
  font-size: clamp(9px, 2vw, 13px);
  font-style: italic;
  padding-bottom: 5px;
  color:  #C4C3C4;

  position:  absolute;
  left: 28%;
  top: clamp(300px, 87%, 800px);
  z-index: 3;
}


.prev, .next {
  cursor: pointer;
  font-size:  clamp(20px, 5vw, 40px); /* CLAMP */
  font-family: 'B612 Mono', monospace;
  user-select:  none;
  -webkit-user-select:  none; /* Safari + Chrome */
  color:  #F2E7E0;
  padding:  25px 8px 25px 8px; /* CLAMP */
  background-color:  #0000009A;
  transition:  background-color 0.7s;
  position:  absolute;
  z-index: 2;
  top: 310px; /* CLAMP */
}

.prev {
  left: 25%;
  border-radius: 0 7px 7px 0;
}

.next { 
  right: 25%;
  border-radius:  7px 0 0 7px;
}


.prev:hover, .next:hover {
  background-color:  #000000DA;
}


#captionOverlay {
  background-color: #000000AA;
  padding: 5% 0 0 clamp(300px, 60%, 600px);
  position:  absolute;
  left: 25%;
  top: clamp(100px, 87%, 800px);
  z-index: 2;
  border: 30px 0 30px 0;
}


table {
  font-family: "Albertus MT";

}

td.trTitle {
  /*border: solid 5px #FFDD30;*/
  font-weight: bold;
  font-size: 23px;
  width: 20em;
}

td:not(.trTitle) {
  padding-left: 60px;
}

td.trTitle p {
  font-size: 17px;
  font-weight: normal;
  font-family: 'Inconsolata';
  font-style: italic;
  color: #b6a793;
  text-shadow: 8px 8px 5px #090909;
}


.summaryText {
  font-family: "Marcellus SC";
  font-size: 18px;
  margin: 10px;
}



sup a {
  color: #42AE9F;
  font-size: clamp(10px, 3vw, 13px);
}

sup a.footnoteOverride {
  color: #b5d4d7;
}

.todo { /* REMOVE ONCE DONE! */
  color: #FC3321;
  font-weight: bold;
  font-size: 16px;
  background-color: #FEB1AECF;
  background-image: url(papyrus.png);
  background-blend-mode: color-burn;
}

p {
  font-family: 'Albertus MT', sans-serif;
}

h2 {
  font-family:  "Alegreya SC";
}


div.warning {
background-image: linear-gradient(to top left, #FFD04EB3, #FFF3787B), url(papyrus.png);
border: 5px;
padding: 10px;
border-radius: 20px;
border-style: solid;
border-color: #534F29;
margin: 0 80px 0 15px;
}

p.warning {
font-weight: bold;
font-style: italic;
font-size: 20px;
color:  #84771E;
}

div.info {
background-image: linear-gradient(to top left,#298678B3, #2681737B), url(papyrus.png);
border: 5px;
padding: 10px;
border-radius: 20px;
border-style: solid;
border-color: #31544C;
margin: 0 80px 0 15px;
}

p.info {
font-weight: bold;
font-style: italic;
font-size: 20px;
color:  #1F6254;
}


.content {
  margin: 0 15px 0 15px;
}


.infoButton {
  background:  url(info-icon-up.svg) no-repeat;
  width: 50px;
  height: 50px;
  margin: none;
  border: none;
  filter: contrast(80%);
  transition: filter 0.4s;
}

.infoButton:hover {
filter: contrast(40%);
}


.infoTooltip {
opacity: 0;
position: absolute;
z-index: 100;
padding: 5px 0;
background-image: linear-gradient(to bottom right,#292723D0, #181715C0);
color: #ffebcf;
font-family: "Albertus MT";
margin-left: -250px;
width: 500px;
bottom: 100%;
left: 50%;
padding: 10px;
border-radius: 10px;
transition: opacity 0.75s;
}

.infoButton:hover + .infoTooltip {
opacity: 1;
}



.tooltipContainer {
  position: relative;
}




/* ====================================================== */

@media only screen and (orientation: portrait) { /* When browser height > width */
	.portraitMode { /* Note:  may need to split this class for more complex changes (?)*/
		display: inline;
		visibility: visible;
  }

  #textSubtitle {
   padding: 30px 0 0 15px; /* top right bottom left */
 }
}

